<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bigking.springcloud.dao.PaymentDao">

    <select id="getDemoPojo" resultType="com.bigking.springcloud.pojo.DemoPojo">
        select id, value from demoTable d where d.id = #{id}
    </select>

    <insert id="insertDemoPojo" parameterType="com.bigking.springcloud.pojo.DemoPojo">
        insert into demoTable(id, value) values (#{id}, #{value})
    </insert>

</mapper>